body {
  padding: 3rem;
  margin: 0;
  background: #d0c1fa;
  background: linear-gradient(90deg, #d0c1fa 0, #a9ccfb 58%);
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}